<div class="wrapper">
  <div class="login-form">
    <div class="logo">
      <h6>Sign In</h6>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
      </div>

      <div class="text-box">
        <input ngModel #email="ngModel" name="email" id="email" type="email" placeholder="Email" autofocus autocomplete="off" required>
      </div>

      <div class="text-box">
        <input ngModel #password="ngModel" name="password" id="password" type="password" placeholder="Password" required>
      </div>

      <button type="submit" class="login-btn active">Login</button>
    </form>

    <div class="dont-have-account">
      Don't have an account yet?
      <a href="/register">Sign Up</a>
    </div>
  </div>
</div>
