<div class="wrapper">
  <div class="login-form">
    <div class="logo">
      <h6>Sign Up</h6>
    </div>

    <div class="row" *ngIf="authError">
      <div class="col-12 alert alert-danger">
        {{ authError?.message }}
      </div>
    </div>
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
      <div class="text-box">
        <input ngModel #firstname="ngModel" name="firstName" id="firstName" type="text" placeholder="First Name" autofocus autocomplete="off" required>
      </div>

      <div class="text-box">
        <input ngModel #lastName="ngModel" name="lastName" id="lastName" type="text" placeholder="Last Name" autocomplete="off" required>
      </div>

      <div class="text-box">
        <input ngModel #email="ngModel" name="email" id="email" type="email" placeholder="Email" autocomplete="off" required>
      </div>

      <div class="text-box">
        <input ngModel #password="ngModel" name="password" id="password" type="password" placeholder="Password" required>
      </div>

      <button type="submit" class="login-btn active">Create Account</button>
    </form>

    <div class="dont-have-account">
      Already have an account?
      <a href="/login">Sign In</a>
    </div>
  </div>
</div>
