.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-weight: 600;
}

.calendar-week-day div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  color: var(--bg-second);
}

.calendar-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-days div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 500;
  &:hover:not(.disabled) {
    cursor: pointer;
  }
  animation: to-top 1s forwards;
}

.calendar-days div.disabled span {
  opacity: .5;
}


.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.selected,
.calendar-days div.selected:hover {
  background-color: var(--bs-blue);
  color: var(--bs-light);
  border-radius: 50%;
  font-weight: bolder;
}

.calendar-days div.active,
.calendar-days div.active:hover {
  background-color: var(--bs-success);
  &.selected {
    background: linear-gradient(to left, var(--bs-success), var(--bs-blue));
  }
  color: var(--bs-light);
  border-radius: 50%;
  font-weight: bolder;
}
