.app-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

