<section>
  <header class="h6">
    Tasks: <strong>{{ dateService.date | async | moment: 'DD.MM.YYYY' }}</strong>
  </header>

  <main>
    <ol *ngIf="tasks.length; else noTasks" class="list-group list-group-numbered">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span class="ms-1">{{ task.title }}</span>
        <button class="btn btn-danger ms-auto" (click)="remove(task)">Remove</button>
      </li>
    </ol>
    <ng-template #noTasks>
      <p class="text-center h6">No tasks yet.</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title" class="form-control" placeholder="Enter text for adding task">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Add</button>
    </form>
  </footer>
</section>
