@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'src/assets/styles/material-theme.scss';

:root {
  --primary-color: var(--bs-primary);
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: Cursive;
}

.light-mode {
  --form-bg: #333;
  --body: #f3f8fe;
  --main: #fdfdfd;
  --second: #c3c2c8;
  --hover: #edf0f5;
  --text: #151426;
}

.dark-mode {
  --form-bg: #333;
  --body: #4d4c5a;
  --main: #141529;
  --second: #79788c;
  --hover: #323048;
  --text: #f8fbff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Cursive, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

body.light-mode {
  color: #303030;
  background-color: #fafafa;
}

body.dark-mode {
  color: #fff;
  background-color: #303030;
}

a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

a.mat-link {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
